.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-top: 5.6%;
    
}
.text2{
    
    margin-top: 5.5vh;
    margin-left: 50%;
    font-family: sans-serif;
    color: #6F6F6F;
}
.box{
    border: 2px solid #F298B1;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    margin-left: 37%;
    margin-top: 43px;
    text-align: center;
    color: red;
    font-family: sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 6px 10px 10px;

}
.line1{
    width: 150px;
    height: 2px;
    background:#6F6F6F;
    display: inline-block;
    position: absolute;
    top: 16vh;
    left: 24vw;
    
    
}
.line2{
    width: 150px;
    height: 2px;
    background: #6F6F6F;
    display: inline-block;
    
    position: absolute;
    top: 16vh;
    left: 63vw;
    


    
}
.icon{
    color: #F43B3B;
    position: absolute;
    top: 24%;
    left: 46%;
    font-size: x-large;
}

#line3{
    width: 230px;
    height: 2px;
    background: #6F6F6F;
    margin-top: 10px;
    margin-left: 70px;
    



}
#tp{
    margin-top: 35px;
    font-size: x-large;
    margin-left: 10px;
    color: #F54444;
}
#pt{
    margin-top: 15px;
    margin-left: -68px;
    color: black;
    font-size: small;
}
#icon2{
    margin-top: 70px;
    font-size: x-large;
    margin-left: 243px;
    color: #F43B3B;
}
#blur{
    filter: blur(13px);
}
#additem{
    border: 2px solid #F298B1;
    height: 120px;
    width: 300px;
    border-radius: 5px;
    position: absolute;
    top: 27%;
    left: 37%;
    background-color: white;
    text-align: center;
    color: #F54444 ;
    padding-top: 20px;


}

@media screen and (max-width: 700px) {
    .line1{
        display: none;
    }
    .line2{
        display: none;
    }
    .box{
        width: 240px;
        margin-left: 15%;
        height: 370px;
        border-radius: 8px;
        margin-top: 17%;
    }
    .text{
        margin-left: 0px;
        margin-top: 15%;
    }
    .text2{
        display: none;
    }
    
    #line3{
        margin-left: 60px;
        width: 180px;
        height: 1.5px;
    }
    .icon{
        left: 4%;
        top: 10%;
    }
    #icon2{
        margin-top: 135px;
        margin-left: 160px;
    }
    #additem{
        width: 250px;
        left: 14%;
        top: 35%;
    }
    #tp{
        font-size: large;
        margin-left: 5px;

    }

    
    
}