.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    margin-left: 220px
    
}
.text2{
    
    margin-top: -43px;
    margin-left: 72%;
    font-family: sans-serif;
    color: #6F6F6F;
}
.box{
    border: 2px solid #F298B1;
    border-radius: 5px;
    height: 300px;
    width: 200px;
    position: relative;
    left: 200px;
    display: inline-block;
    text-align: center;
    color: red;
    font-family: sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 6px 10px 10px;
    margin: 25px;
    margin-top: 60px;

}
.boxe{
    border: 2px solid #F298B1;
    border-radius: 5px;
    height: 300px;
    width: 200px;
    position: relative;
    top: 33px;
    left: 200px;
    display: inline-block;
    text-align: center;
    color: red;
    font-family: sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 6px 10px 10px;
    margin: 25px;
    margin-top: 60px;

}
.line1{
    width: 150px;
    height: 2px;
    background:#6F6F6F;
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 300px;
    
    
}
.line2{
    width: 150px;
    height: 2px;
    background: #6F6F6F;
    display: inline-block;
    
    position: absolute;
    top: 100px;
    left: 750px;
    


    
}
.icon{
    color: #F43B3B;
    position: absolute;
    top: 80px;
    left: 68%;
    font-size: x-large;
}

#line3{
    width: 174px;
    height: 2px;
    background: #6F6F6F;
    margin-top: 10px;
    margin-left: 27px;
    



}
#tp{
    margin-top: 35px;
    font-size: x-large;
    margin-left: 10px;
    color: #F54444;
}
#pt{
    margin-top: 15px;
    margin-left: -68px;
    color: black;
    font-size: small;
}
#icon2{
    margin-top: 70px;
    font-size: x-large;
    margin-left: 243px;
    color: #F43B3B;
}

#blur{
    filter: blur(9px);
}
#additem{
    border: 2px solid #F298B1;
    height: 120px;
    width: 300px;
    border-radius: 5px;
    position: absolute;
    top: 27%;
    left: 37%;
    background-color: white;
    text-align: center;
    color: #F54444 ;
    padding-top: 20px;


}
.span{
    font-weight: lighter;
    font-size: xxx-large;
    color: #929292;
    letter-spacing: 5px;
}
.pan{
    font-weight: bolder;
    font-size: xxx-large;
}


@media only screen and (max-width: 700px) {
    .text{
        margin-left: 15px;
        font-size: smaller;
        
    }
    #ct{
        display: none;
    }
    #pt{
        display: none;
    }
    .boxe{display: block;
        left:-10px;
        height: 70px;
        width: 300px;
        border-radius: 8px;
        text-align: left;
        top:0px
        
        

    }
    .box{display: block;
        left:-10px;
        height: 70px;
        width: 300px;
        border-radius: 8px;
        text-align: left;
        

    }
    .pan{
        font-size: xx-large;
    }
    #tp{
        color: #929292;
        font-size: large;
        margin-top: 20px;
    }
    #line3{
        display: none;
    }
    .text2{
        margin-top:30px;
        margin-left: 40% ;
        color:palevioletred;
        display: none;
    }
    .icon{
        top:10% ;
       left: 80%;
       
    }
    .span{
        letter-spacing: 0px;
        margin-left: 22px;
        font-size: xx-large;
        
    }
    #additem{
        width: 250px;
        left: 15%;
        top: 35%;

    }

    
}